In [1]:
import sklearn

import pandas as pd
import numpy as np

In [2]:
print(sklearn.__version__)
print(np.__version__)
print(pd.__version__)

0.23.2
1.18.5
0.23.0

In [3]:
student_df = pd.read_csv('..\\datasets\\2019_PublicDataFile_Students.csv')
student_df.head(5)

,DBN,School Name,Total Parent Response Rate %,Total Teacher Response Rate %,Total Student Response Rate %,Collaborative Teachers Score,Effective School Leadership Score,Rigorous Instruction Score,Supportive Environment Score,Strong Family-Community Ties Score,Trust Score
0,01M015,P.S. 015 ROBERTO CLEMENTE,91,100,NaN,4.10,4.19,4.02,NaN,4.18,3.96
1,01M019,P.S. 019 ASHER LEVY,100,93,NaN,4.53,4.51,4.80,NaN,4.66,3.76
2,01M020,P.S. 020 ANNA SILVER,58,90,NaN,2.71,2.98,1.92,NaN,3.84,3.14
3,01M034,P.S. 034 FRANKLIN D. ROOSEVELT,29,100,95.0,2.69,2.59,2.14,NaN,3.67,2.38
4,01M063,THE STAR ACADEMY - P.S.63,80,100,NaN,NaN,NaN,NaN,NaN,NaN,3.77

In [4]:
student_df.shape

(1829, 11)

In [5]:
student_df.isna().sum()

DBN                                      0
School Name                              0
Total Parent \nResponse Rate %           0
Total Teacher Response Rate %            0
Total Student Response Rate %          720
Collaborative Teachers Score           204
Effective School Leadership Score      204
Rigorous Instruction Score             204
Supportive Environment Score          1829
Strong Family-Community Ties Score     219
Trust Score                             72
dtype: int64

In [20]:
student_df = student_df.drop('Supportive Environment Score', 1)

In [21]:
student_df.isna().sum()

DBN                                     0
School Name                             0
Total Parent \nResponse Rate %          0
Total Teacher Response Rate %           0
Total Student Response Rate %         720
Collaborative Teachers Score          204
Effective School Leadership Score     204
Rigorous Instruction Score            204
Strong Family-Community Ties Score    219
Trust Score                            72
dtype: int64